body {
    background-color: black;
    text-align: center;
}

h1 {
    font-family: Verdana;
    font-weight: normal;
    font-size: 50px;
    color: white;
    text-align: center;
}

h2 {
    font-family: Verdana, Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300;
    font-size: 42px;
    color: white;
    text-align: center;
}

p {
    font-family: Verdana, Verdana, Geneva, Tahoma, sans-serif;
    font-size: 21px;
    color: gray;
}

a {
    font-family: Verdana, Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    color: aquamarine;
}

div.footer {
    font-family: Verdana, Verdana, Geneva, Tahoma, sans-serif;
    text-align: right;
    color: gray;
}
